<div
  class="flex flex-col xl:flex-row justify-evenly items-center min-h-screen bg-white dark:bg-neutral-700"
>
  <hlm-carousel class="w-full xl:w-1/2 p-4">
    <hlm-carousel-content>
      <hlm-carousel-item
        ><app-mon-card
          class="sm:min-w-[500px] xl:min-w-[600px] w-full"
          [mon]="{
            name: 'Glurak',
            hp: 78,
            attack: 84,
            defense: 78,
            specialAttack: 109,
            specialDefense: 85,
            speed: 100,
            image:
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png',
            description:
              'Dieses Pokémon kann mit seinen Flügeln eine Höhe von bis zu 1.400 m erreichen. Es spuckt sehr heißes Feuer.'
          }"
        ></app-mon-card
      ></hlm-carousel-item>

      <hlm-carousel-item
        ><app-mon-card
          class="sm:min-w-[500px] xl:min-w-[600px] w-full"
          [mon]="{
            name: 'Glurak',
            hp: 78,
            attack: 84,
            defense: 78,
            specialAttack: 109,
            specialDefense: 85,
            speed: 100,
            image:
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png',
            description:
              'Dieses Pokémon kann mit seinen Flügeln eine Höhe von bis zu 1.400 m erreichen. Es spuckt sehr heißes Feuer.'
          }"
        ></app-mon-card
      ></hlm-carousel-item>
    </hlm-carousel-content>
  </hlm-carousel>

  <hlm-carousel class="w-full xl:w-1/2 p-4">
    <hlm-carousel-content>
      <hlm-carousel-item
        ><app-mon-card
          class="sm:min-w-[500px] xl:min-w-[600px] w-full"
          [mon]="{
            name: 'Glurak',
            hp: 78,
            attack: 84,
            defense: 78,
            specialAttack: 109,
            specialDefense: 85,
            speed: 100,
            image:
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png',
            description:
              'Dieses Pokémon kann mit seinen Flügeln eine Höhe von bis zu 1.400 m erreichen. Es spuckt sehr heißes Feuer.'
          }"
        ></app-mon-card
      ></hlm-carousel-item>

      <hlm-carousel-item
        ><app-mon-card
          class="sm:min-w-[500px] xl:min-w-[600px] w-full"
          [mon]="{
            name: 'Glurak',
            hp: 78,
            attack: 84,
            defense: 78,
            specialAttack: 109,
            specialDefense: 85,
            speed: 100,
            image:
              'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png',
            description:
              'Dieses Pokémon kann mit seinen Flügeln eine Höhe von bis zu 1.400 m erreichen. Es spuckt sehr heißes Feuer.'
          }"
        ></app-mon-card
      ></hlm-carousel-item>
    </hlm-carousel-content>
  </hlm-carousel>
</div>
