<div
  class="flex flex-col gap-y-12 py-12 h-full min-h-screen items-center justify-center bg-white dark:bg-neutral-700"
>
  <div class="w-[98%]">
    <app-card>
      <h1 class="text-gray-900 dark:text-white font-bold text-2xl pb-4">
        MonkeyMon Flutter
      </h1>
      <app-text>{{ "portfolio.flutter" | translate }}</app-text>
      <div class="mockup-browser border bg-base-300 w-full h-[60rem]">
        <div class="mockup-browser-toolbar">
          <div class="input">
            https://nachtaktiverhalbaffe.github.io/MonkeyMon/
          </div>
        </div>
        <iframe
          src="https://nachtaktiverhalbaffe.github.io/MonkeyMon/"
          title="description"
          class="w-full h-[95%]"
        ></iframe>
      </div>
    </app-card>
  </div>

  <div class="w-[98%]">
    <app-card>
      <h1 class="text-gray-900 dark:text-white font-bold text-2xl pb-4">
        MonkeyMon React
      </h1>
      <app-text>{{ "portfolio.react" | translate }}</app-text>
      <div class="mockup-browser border bg-base-300 w-full h-[60rem]">
        <div class="mockup-browser-toolbar">
          <div class="input">
            https://nachtaktiverhalbaffe.github.io/MonkeyMon-React/
          </div>
        </div>
        <iframe
          src="https://nachtaktiverhalbaffe.github.io/MonkeyMon-React/"
          title="description"
          class="w-full h-[95%]"
        ></iframe>
      </div>
    </app-card>
  </div>
</div>
