<div
  class="flex flex-col gap-y-12 py-12 w-screen h-full min-h-screen items-center justify-center bg-white dark:bg-neutral-700"
>
  <div class="w-[98%]">
    <app-card>
      <h1 class="text-white font-bold text-2xl pb-4">MonkeyMon Flutter</h1>
      <app-text>The first MonkeyMon project build with Flutter</app-text>
      <iframe
        src="https://nachtaktiverhalbaffe.github.io/MonkeyMon/"
        title="description"
        class="w-full h-[60rem] mt-2 rounded-3xl"
      ></iframe>
    </app-card>
  </div>

  <div class="w-[98%]">
    <app-card>
      <h1 class="text-white font-bold text-2xl pb-4">MonkeyMon React</h1>
      <app-text>The second MonkeyMon project build with React</app-text>
      <iframe
        src="https://nachtaktiverhalbaffe.github.io/MonkeyMon-React/"
        title="description"
        class="w-full h-[60rem] mt-2 rounded-3xl"
      ></iframe>
    </app-card>
  </div>
</div>
