<div className="{cn(props.className)}">
  <div class="flex flex-col-reverse sm:flex-row justify-center items-center">
    @if(fighter!= null){
    <app-card
      class="w-full sm:w-2/6 h-[7rem] rounded-tl-3xl rounded-br-3xl rounded-bl-lg rounded-tr-lg border-4 border-black dark:border-black bg-battle-box-dark dark:bg-battle-box-dark"
    >
      {{ fighter.mon.name }}

      <div>
        <app-stat-bar
          [value]="fighter.currentHp"
          [maxValue]="fighter.mon.hp"
          label="HP"
          class="text-black dark:text-black pb-0"
          classNameWidth="w-12"
        />
        <div class="flex flex-col items-end text-end">
          <p class="text-black dark:text-black italic pb-2 pt-0">
            {{ fighter.currentHp }}/{{ fighter.mon.hp }}
          </p>
        </div>
      </div>
    </app-card>

    } @else {
    <p className="py-11 font-mono text-center text-2xl font-bold">
      Choose Fighter
    </p>
    }

    <img src="{vsSprite}" className="p-6" />

    @if(opponent!= null){
    <app-card
      class="w-full sm:w-2/6 h-[7rem] rounded-tl-3xl rounded-br-3xl rounded-bl-lg rounded-tr-lg border-4 border-black dark:border-black bg-battle-box-dark dark:bg-battle-box-dark"
    >
      {{ opponent.mon.name }}

      <div>
        <app-stat-bar
          [value]="opponent.currentHp"
          [maxValue]="opponent.mon.hp"
          label="HP"
          class="text-black dark:text-black pb-0"
          classNameWidth="w-12"
        />
        <div class="flex flex-col items-end text-end">
          <p class="text-black dark:text-black italic pb-2 pt-0">
            {{ opponent.currentHp }}/{{ opponent.mon.hp }}
          </p>
        </div>
      </div>
    </app-card>

    } @else {
    <p className="py-11 font-mono text-center text-2xl font-bold">
      Choose Opponent
    </p>
    }
  </div>
</div>
