<div>
  <div
    class="flex flex-col-reverse sm:flex-row justify-center items-center m-4"
  >
    @if(fighter()?.mon != null){
    <div
      class="w-full sm:w-2/6 h-[7rem] rounded-tl-3xl rounded-br-3xl rounded-bl-lg rounded-tr-lg border-4 border-black dark:border-black bg-battle-box-dark dark:bg-battle-box-dark text-black text-2xl font-semibold leading-none tracking-tight"
    >
      <div class="px-4 pt-2 pb-3">
        {{ fighter()!.mon.name }}
      </div>

      <div class="px-4">
        <app-stat-bar
          [value]="fighter()!.currentHp"
          [maxValue]="fighter()!.mon.hp"
          label="HP"
          labelWidth="w-12"
          labelColor="text-black dark:text-black "
          class="pb-0 text-sm"
        />
        <div class="flex flex-col items-end text-end">
          <p class="text-black dark:text-black text-base italic pb-2 pt-0">
            {{ fighter()!.currentHp }}/{{ fighter()!.mon.hp }}
          </p>
        </div>
      </div>
    </div>

    } @else {
    <p class="py-11 font-mono text-center text-2xl font-bold text-white">
      Choose Fighter
    </p>
    }

    <img src="assets/vs.png" class="p-6" />

    @if(opponent()?.mon!= null){
    <div
      class="w-full sm:w-2/6 h-[7rem] rounded-tl-3xl rounded-br-3xl rounded-bl-lg rounded-tr-lg border-4 border-black dark:border-black bg-battle-box-dark dark:bg-battle-box-dark text-black text-2xl font-semibold leading-none tracking-tight"
    >
      <div class="px-4 pt-2 pb-3">
        {{ opponent()!.mon.name }}
      </div>

      <div class="px-4">
        <app-stat-bar
          [value]="opponent()!.currentHp"
          [maxValue]="opponent()!.mon.hp"
          label="HP"
          labelWidth="w-12"
          labelColor="text-black dark:text-black "
          class="text-black dark:text-black pb-0 text-sm"
        />
        <div class="flex flex-col items-end text-end">
          <p class="text-black dark:text-black text-base italic pb-2 pt-0">
            {{ opponent()!.currentHp }}/{{ opponent()!.mon.hp }}
          </p>
        </div>
      </div>
    </div>

    } @else {
    <p class="py-11 font-mono text-center text-2xl font-bold text-white">
      Choose Opponent
    </p>
    }
  </div>
</div>
