<div>
  <div class="relative overflow-hidden py-56 sm:py-96">
    <div>
      <!-- Figher -->
      <app-battle-sprite
        [src]="
          (fighterUrl$ | async) ??
          'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/0.png'
        "
        alignment="left-bottom"
      />
      <!--Opponent  -->
      <app-battle-sprite
        [src]="
          (opponentUrl$ | async) ??
          'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/0.png'
        "
        alignment="right-top"
      />

      <app-battle-stats
        [fighter]="fighter$ | async"
        [opponent]="opponent$ | async"
      />
    </div>
  </div>
</div>
